@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <text>
        This application is under construction. You can test it as the Default reader by clicking
        on the database names in the navigation bar.
    </text>
</div>
