<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DB Help</title>
    <link rel="icon" href="~/icon/logo-black-on-white-icon.png" alt="Logo" type="image/png" sizes="32x32" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <style>
            .custom-background-color {
                background-color: black;
            }

            .custom-icon-size {
                width: 35px;
                height: 35px;
            }
        </style>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light custom-background-color border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/icon/logo-white-on-black-icon.png" alt="Go to home" style="width:45px;height:45px" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <br />
                            <a class="nav-link text-white" asp-area="" asp-controller="DBItem" asp-action="GetDatabaseDetails" asp-route-databaseName="AdventureWorksLT2017">AdventureWorksLT2017</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">                                
                                <img src="~/icon/unknown-icon.png" alt="Login icon" class="custom-icon-size" />
                                Login
                            </a>
                        </li>

                    </ul>


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - DB Help
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
