@model DBTablesMVC.Models.DldDatabase
@{
    ViewData["Title"] = "Database Details";
}

<div class="row">
    <div class="col-md-3 custom-background-color">
        @await Html.PartialAsync("_DisplayTableListPartial");
    </div>
    @if (Model != null)
    {
        <div class="col-md-9">
            <h2>@Model.DatabaseName</h2>
            <br />
            <text>@Model.DatabaseDescription</text>
        </div>
    }
    else
    {
        <h6>Something went wrong... It seems there is no database with this name</h6>
    }
</div>